form .avatar{
    margin-bottom: 15px;
    width: 90px;
}

.navbar .container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img{
   height: 100%
}